
/* -------------------------------BODY------------ */
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Montserrat", serif;
}
*{
    outline: 1px solid #f8a2d4;
}
a{
    text-decoration: none;
}
/* -------------------------------HEADER------------ */
.container h1{
    color: #6363a3;
    font-weight: bold;
}
.list-menu ul{
    list-style: none;
    display:block;
}
.list-menu ul li{
    display: inline-block;
    margin: 10px 50px;
}
.list-menu ul li a{
    text-decoration: none;
}
.list-menu ul li a:hover{
    background: #4e5776;
    padding: 10px 30px;
    font-weight: bold;
    opacity: 0.3;
    color: #fff;
    bottom:50px;
}

