/* Inserta tu codigo aqui */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
	font-family: "Montserrat";
}
.head{
	text-align: center;
	background-color: white;
}
.titulo{
	color:#192951;
	font-size: 30px;
	margin: 20px 0;
}
.menu{
	text-decoration: none;
	color:#80808b;
}
.menu1 li{
	list-style: none;
	margin:30px 40px;
	display: inline-block;
	font-size: 20px;
}
.section1{
	background-color:#f4f4f4;
	text-align: center;
}
.nosot{
	background-color: rgba(0, 0, 0, 0.7);
	padding: 40px;
	position: relative;
	top:130px;
}
.clases{
	font-size: 25px;
	text-align: center;
	margin: 60px 0 30px 0;
}
.estilo{
	background-size: 115%;
	background-repeat: no-repeat;
	height: 450px;
	width: 30%;
	margin:10px;
}
.foto1{
	background-image: url(../img/dance_12.jpg);
}
.foto2{
	background-image: url(../img/breakdance.jpg);
}
.foto3{
	background-image: url(../img/lirical-jazz.jpg);
}
.foto4{
	background-image: url(../img/arabe.jpg);
	margin-bottom: 50px;
}
.foto5{
	background-image: url(../img/little.jpg);
	margin-bottom: 50px;
}
.foto6{
	background-image: url(../img/yoga.jpg);
	margin-bottom: 50px;
}
.titulo2, .text1{
	color:white;
}
.titulo2{
	text-align: center;
	font-size: 15px;
	padding: 20px 0;
}
.text1{
	font-size: 15px;
	margin-bottom: 20px;
}
.text2{
	text-align: center;
	font-size: 15px;
	color:#80808b;
	padding: 30px 0;
}
.section2{
	background-image: url(../img/cubes.png);
	height: 400px;
}
.pilar{
	padding: 30px 80px;
}
.titulo3{
	text-align: center;
	font-size: 35px;
	padding: 100px 0;
}
.nombre{
	color:black;
	font-size: 20px;
	padding: 15px 0;
}
.descripcion{
	color:#80808b;
	font-size: 15px;
}
.text3{
	text-align: center;
	font-size: 45px;
	color:#2f2512;
	padding: 100px 0px;
}
.section3{
	background-image: url(../img/cubes.png);
	height: 300px;
}
.formulario{
	background-image: url(../img/shoes_1.jpg);
	height: 500px;
	background-size:62%;
	background-position: right;
	background-repeat: no-repeat;
	background-color: white;
    padding: 10px;
}
.formulario form{
    width: 52%;
    padding: 20px 0 20px 60px;
}
.formulario h3{
    color: #192951;
    font-size: 35px;
}
.formulario  input, textarea{
    margin: 5px 0;
    width: 470px;
    padding: 5px;
    padding-left: 50px;
    height: 40px;
}
.formulario textarea{
    height: 120px;
    
}
.formulario label{
    font-size: 26px;
    margin: 11px 0 0 9px;
    position: absolute;
    vertical-align: middle;
    
}
.formulario #boton{
    background-color: #192951;
	color: white;
	padding: 10px;
	border-radius: 5px;
	border:none;
    height: 50px;
    font-size: 20px;
}
/*----------------------------------------------------------footer-----------------------------------------*/
footer{
   background-color:#080a22; 
    height: 50px;
    color:darkgrey;
    padding-top: 20px;
}
